# Python
__pycache__/
*.py[cod]
*.egg-info/
*.pkl
*.npy
*.pt
*.bin

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.env/
.venv/

# Data and results
data/
results/

# Models
models/parsed_tsdae_model/pytorch_model.bin
models/tsdae_model_parsed_ifc/pytorch_model.bin

